html {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  animation-name: example;
  animation-duration: .15s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0%   {background-color:#FF0000;}
  10%  {background-color:#38FF00;}
  20%  {background-color:#00E5FF;}
  30%  {background-color:#FF0089;}
  40% {background-color:#FFF600;}
  50% {background-color:#0027FF;}
  60%   {background-color:#FFFFFF;}
  70%  {background-color:#00FF96;}
  80%  {background-color:#B300FF;}
  90%  {background-color:#FFB000;}
  100% {background-color:#000000;}
}
